@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active Navlink */
.active{
  border-bottom: 3px solid #8be7bb;
}

/* Root Layout Styles */
/* .shop-categories a:hover, .auth-navlinks a:hover{
  border-bottom: 3px solid #8be7bb;
  transition: border-bottom 0.1s;
} */

/* Signup Styles */
.signup-section input{
  border-width: 1px;
  border-radius: 0.125rem;
}
